html, body {
    overflow-x:hidden;
}
body{
    background-color: whitesmoke;
    margin: 0px;
    width: 100%;
}

h1 {
    color: black;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    vertical-align: middle;
}
h2 {
    color: black;
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
    vertical-align: middle;
    margin-bottom: 40px;
}


.gallery-heading {
 
    padding: 40px;
    text-align:center;
    font-size: 26px;
}

p {
    font-family: 'Libre Baskerville', serif;
    padding: 5px;
	color: black;
	}

.heading-container {
position: relative;
height: 200px;
width:100%;
background-color: whitesmoke;
/* background-image: url("./Images/yellow-mountain-header.jpg"); */
background-size: cover;
display: flex;
justify-content: center;
align-items:center;
}
.header-title {
	font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 40px;
    text-decoration: none;
	}

#top-banner {
    display:flex;
    justify-content:center;
}

.top-banner-item {
    flex:1;
    max-width: 100px;
    font-family: 'Libre Baskerville', serif;
    color: black;
	padding: 20px;
    font-size: 22px;

}

#navbarSupportedContent.collapse.navbar-collapse {
    justify-content: space-between;
    }

.navbar-nav {
    font-family: 'Libre Baskerville', serif;
    flex: 1;
    justify-content: center;
}
nav {
justify-content: space-between;
}

.home-content-container {
text-align: center;

}
.homepage-hero-img {
width: 40%;
margin: 20px 30%;

}
.intro-text-item {
margin: 20px 10%;
   
/* grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2; */
background-color: white;
padding: 20px;
text-align: center;

    }
.home-image-container {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end:3;
/* width: 50%; */

}

.selfie {
    width: 300px;
    margin-bottom: 50px;
   
}

#recent-works-container {
    display: flex;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.recent-work-item {

  
    width: 300px;
    align-self: center;
    margin: 10px;
    
    
}

#footer {
    background-color: lightgrey;
    /* height: 200px; */
    /* border-top: 1px solid grey */
    text-align: center;
    margin-top: 20px;

}

.footer-container {
    width: 50%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */

}
.copyright-text {
    padding: 16px;
    font-size: 0.9rem;
    color: grey;
    flex: 1;
    margin: 0px;
  
}

.insta-logo {
    
    width: 5%;
    
  
}
.insta-logo>img {
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-nav-text {
    font-family: 'Libre Baskerville', serif;
    color: black;
    flex: 1;
    padding: 5px;

}
/* Gallery Page */

/* header {
    margin: 0 auto;
    width: 90%; */



#trolley-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
}
#gallery-content {
   
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}
#gallery-pics {
    margin: 0 auto;
    box-sizing: border-box;

    
}
.gallery-item {
    max-width: 340px;
    /* min-width: 300px; */
    margin: 10px;
    position: relative;
}

.gallery-link {
    display: absolute; 
}
.gallery-pics-item {
    width: 340px;
    height: 100%;
    /* min-width: 300px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
 }

.hover-content {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    height: 100%;
    width: 100%;
    display:none;
    background-color: rgba(169, 169, 169, 0.7);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.hover-text {
    color: whitesmoke;
    font-size: 30px;
    margin: 20px;

}
.price {
    font-size: 20px;
}
.dimensions {
    font-size: 20px;
}
.sold-tag {
    font-size: 20px;
    color: rgb(114, 11, 11);
}
.gallery-item:hover > a > div {
    /* , .gallery-item:active > a > div */
    display: block;
}

.magnifying-glass {
    height: 30px;
    opacity: 1;
    display: block;
    margin-left: 48%;
    color: whitesmoke
}
/* Contact Form */
#contact-title {
   font-size: 2rem;
    margin: 30px 0 10px 20%;

}
#form-intro {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    /* margin-left:20%;
    margin-right:20%; */
}
#form-container {
    width: 60%;
    margin: 0 20%;
}

label {
    font-family: 'Libre Baskerville', serif;
    padding-top: 10px;
    scroll-padding-bottom: 10px;
	color: black;
   
    
}
input {
    margin: 20px;
    padding: 5px;
}
#name {
    display:block;
}

#email {
    display:block;
    margin-bottom: 30px;
}

#message {
    display:block;
    width: 400px;
    padding: 10px;
}
#submit-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
#submit-btn:hover {
    background-color: darkgrey;
}

#submit-text {
    margin: 0;
   
}

/* Product Page */

#product-page-container {
    /* display: flex; */
    flex-direction: column;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 50px;
}

.product-page-image-link {
    width: 100%;
    
}
.product-page-image {
  width: 100%;
  min-width: 280px;
  margin-top: 30px;
}
#additional-images-container {
    display: flex;
    justify-content: center;
    /* height: 140px; */
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
 
}
.additional-image {
    
    margin-right: 10px;
    margin-bottom: 10px;
    height: 140px;
    
}
.enquire-btn {
    font-family:'Libre Baskerville', serif;
    color: black;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    text-decoration: none;
 
}

.enquire-btn:hover {
background-color: darkgray;
}

.fancybox__caption {
   font-size: 1rem;
   font-family: 'Libre Baskerville', serif;
   text-decoration: none;
   color: red;
   
}
.fancybox__caption > a {
    
    color: whitesmoke;
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
}

/* MOBILE */
@media screen and (max-width: 576px) 
{   .footer-container {
        flex-direction: column;
}

    .gallery-item {
        /* width: 360px;
        max-width: 360px; */
        margin: 10px auto;
        /* margin-left: 50px; */
        position: relative;
    
    }
 
    .gallery-pics-item {
        width: 320px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        display: block;
     }
    
    
    #gallery-content { 
        width: 90%;
        margin-left:5%;
        margin-right:5%;
}

    #gallery-pics { 
    /* display: flex;
    flex: 1;
    justify-content: center; */
   
   
   
    position: relative; 
    
}
    .homepage-hero-img {
        width:60%;
        margin: 20px 20%;

    }
    #message {
        width: 60%;
  
}


}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .gallery-item {
        /* max-width: 100%; */
        min-width: 234px;
        margin: 10px;
        position: relative;
       
    }
 
    /* .gallery-pics-item {
        max-width: 234px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
     } */
    
    #gallery-content { 
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    /* background-color: red; */
}

    #gallery-pics { 
    /* width: 90%; */
    /* margin-left:5%;
    margin-right:5%; */
    /* margin: auto; */
    
}

}

/* @media screen and (max-width: 992px) {
    .gallery-item:hover > * {
        display: none; */
        
    
